.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #fffde8  ;
  /* height: 100vh; */
  min-height: 100%; 
  display: flex;
  flex-flow: column; 
} 

.App .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App .Main-body {
  flex-grow: 1; 
  display: flex;
}

.App .App-footer {
  background-color: #fff0be;
  height: min-content;
  position:fixed;
  bottom:0;
  width:100%;
}


